@import "navbar";
@import "welcome";
@import "footer";
@import "gallery";
@import "club";
@import "form";
@import "about";

// .col-xs,
// .col-xs-6,
// .col-xs-12 {
//   border: 1px solid red;
// }

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  // height: 948px;
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 480px) {
  body {
    overflow-y: scroll;
  }
}
