$font-header: "Roboto", sans-serif;

.welcome {
  margin-left: 1em;
  &__h1 {
    font: 100% $font-header;
    font-size: 42px;
    font-weight: 700;
    margin: 0.8em 0;
    padding: 0;
  }
  &__h2 {
    font: 100% $font-header;
    font-size: 34px;
    margin: 0.8em 0;
    padding: 0;
  }
  &__paragraph {
    font: 100% $font-header;
    font-size: 22px;
    margin: 0.8em 0;
    padding: 0;
  }
  &__photo {
    overflow: hidden;
    margin: 0 1em 0 0;
    max-width: 400px;
    img {
      width: 400px;
      height: auto;
      max-width: 100%;
      max-width: 100%;
      margin-top: 100px;
    }
    &__front {
      z-index: 9999;
      transition: opacity 0.5s linear;
    }
    &:hover > &__front {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .small__screen {
    display: flex;
    justify-content: center;
  }
  #kongo1 {
    margin-top: 10px;
  }
}
